<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body style="background-image:url('http://wallpoper.com/images/00/33/68/71/one-piece_00336871.jpg')">
<body>
	<img src="https://i.gifer.com/5xOT.gif">


    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>

</body>
<body>
	<p>
	hobi		: jogging, gym, bulutangkis, ngoding<br><br>
	deskripsi	: Penulis website yang masih menumpang di heroku merupakan anak pertama dari 2<br> 
	bersaudara dan juga seorang nakama. Besar di keluarga yang suka makan membuat<br>
	penulis berbadan tambun sedari kecil. Seiring berjalannya waktu penulis ingin<br>
	lebih sedap untuk dipandang, akhirnya penulis ber-komitmen untuk diet dan<br>
	sudah dimulai sejak setahun yang lalu. Bersepadah dan diet nasi lumayan sering<br>
	penulis lakukan ketika awal masa perkuliahan Dampaknya punlumayan membuat<br>
	badan penulis mengecil, tapi tidak puas dengan badan yang sudah mulai mengurus<br>
	penulis mulai nge-gym bersama teman-teman dari #2019GANTIBADAN. Bermain<br>
	tinder juga mulai ditekuni penulis sedari perkuliahan semester 3 dimulai..<br>
	janlup swipe right bagi wanita2 yg membaca<br><br>

	Azhar dapat ditemui di dunia maya dengan alamat --><br><br>

	instagram 	: @azhararnanda<br><br>

	line 		: @allnewazrdfa<br><br>

	facebook	: azhar difa arnanda<br><br>
	</p>
</body>

<body>
	<img src="https://i.gifer.com/5xOT.gif">

    <h1>Hello my name is {{ name2 }}</h1>
    <article>NPM : {{ npm2 }}</article>
    <article>I am {{ age2 }} years old</article>

    <body>
	<p>
	hobi		: bermain game<br><br>
	deskripsi	: saya mahasiswa fasilkom yand ada disebelah kiri azhar<br>
	</p>
</body>
	<img src="https://i.gifer.com/5xOT.gif">

    <h1>Hello my name is {{ name3 }}</h1>
    <article>NPM : {{ npm3 }}</article>
    <article>I am {{ age3 }} years old</article>

    <body>
	<p>
	hobi		: main basket<br><br>
	deskripsi	: saya mahasiswa fasilkom yang ada disebelah kanan azhar<br>
	</p>


</html>
